.btn-group{
    padding: 32px 0 0 ;
}
.Productdescription {
    margin: 15px;
}

.d-grid{
    margin: 15px 5px 15px 5px;
}

.Quantity {
    margin-top: 10px;
    display: flex;
}

.container{

   margin: 70px 70px 70px 70px;
}

.form{
    padding: 12px;
    
}

.productrecommendation_inner{
    h2{
        text-align: center;
       margin-bottom: auto;
       margin: 10px;
    }
}
.navbar {
    margin-bottom: 0;
}

.navbar .nav-link {
    color: #000 !important;
}
/* footer starts */
footer {
    background-color: #f8f9fa;
    padding: 3rem 0;
    margin-top: 5rem;
}

footer .container {
    color: #343a40;
    text-align: center;
}

footer p.h5 {
    font-size: 1.25rem;
    font-weight: 700;
}

footer p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer .footer-bottom {
    border-top: 1px solid #dee2e6;
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #6c757d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .dropdown {
    display: inline-block;
}

a {
    color: #212529;
    text-decoration: none;
}

a.link-copyright {
    text-decoration: underline;
}

.footer-bottom .dropdown-toggle {
    color: #141619;
    background-color: #fff;
    border-color: #636464;
}

.footer-bottom .dropdown-toggle:hover, 
.footer-bottom .dropdown-toggle:focus {
    color: #141619;
    background-color: #e6e6e6;
    border-color: #636464;
}

/* Scrollable Dropdown Menu */
.footer-bottom .dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;
}

/* footer ends */
