@media(max-width : 992px){
    .card{
        width: fit-content;
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
}
@media(max-width : 768px){
    .card{
        width: fit-content;
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
}
@media(max-width : 320px){
    .navbar-text {
        height: -90px;
        white-space: nowrap;
        overflow: visible;
        position:fixed;
        animation: moveText 10s linear infinite;
    }

    @keyframes moveText {
        0% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }
}

