@media screen and (max-width: 767px){
    .course_card .row .col-md-4{
        margin-bottom: calc(8px + 2vmin);
    }
}

@media (max-width: 767px) {
    .footer-bottom {
        flex-direction: column;
    }

    .footer-bottom .dropdown {
        margin-bottom: 1rem;
    }
}

